In [21]:
import pandas as pd
import numpy as np

In [7]:
PATH = "../data/under150k.csv"
PATH2 = "../data/over150k.csv"

un150 = pd.read_csv(PATH, index_col="Unnamed: 0")
ov150 = pd.read_csv(PATH2, index_col="Unnamed: 0")

In [12]:
un150 = un150[["LoanAmount", "Zip", "State", "NAICSCode", "BusinessType", "JobsReported", "DateApproved", "2017 NAICS Title"]]

In [10]:
ov150

,LoanAmount,Zip,State,NAICSCode,BusinessType,JobsReported,DateApproved,2017 NAICS Title
13773,a $5-10 million,85018.0,AZ,621111.0,Limited Liability Company(LLC),438.0,04/27/2020,Offices of Physicians (except Mental Health Sp...
13774,a $5-10 million,85205.0,AZ,524130.0,Corporation,2.0,04/28/2020,Reinsurance Carriers
13775,a $5-10 million,85203.0,AZ,523999.0,Subchapter S Corporation,471.0,04/27/2020,Miscellaneous Financial Investment Activities
13776,a $5-10 million,85711.0,AZ,621111.0,Corporation,500.0,04/29/2020,Offices of Physicians (except Mental Health Sp...
13777,a $5-10 million,85016.0,AZ,721110.0,Partnership,0.0,04/30/2020,Hotels (except Casino Hotels) and Motels
...,...,...,...,...,...,...,...,...
650758,"e $150,000-350,000",53074.0,WI,813920.0,Subchapter S Corporation,12.0,04/08/2020,Professional Organizations
650759,"e $150,000-350,000",53051.0,WI,611110.0,Limited Liability Company(LLC),65.0,05/03/2020,Elementary and Secondary Schools
650760,"e $150,000-350,000",54126.0,WI,813110.0,Non-Profit Organization,29.0,04/09/2020,Religious Organizations
650761,"e $150,000-350,000",53168.0,WI,238110.0,Limited Liability Company(LLC),21.0,04/08/2020,Poured Concrete Foundation and Structure Contr...
650762,"e $150,000-350,000",54639.0,WI,447110.0,Corporation,40.0,04/04/2020,Gasoline Stations with Convenience Stores

In [14]:
df = pd.concat([un150, ov150], axis=0)

In [15]:
# Total Loans
df.shape

(939014, 8)

In [16]:
# Total number of loans / total population
# population = 330,058,718
pop = 330058718

df.shape[0]/pop

0.00284499075100934

In [20]:
# Count loans then multiply upper and lower bounds by amounts
ov150.groupby("LoanAmount").count()

,Zip,State,NAICSCode,BusinessType,JobsReported,DateApproved,2017 NAICS Title
LoanAmount,,,,,,,
a $5-10 million,985,985,985,983,937,985,983
b $2-5 million,5034,5034,5034,5013,4706,5034,5014
c $1-2 million,10839,10839,10839,10771,10142,10839,10804
"d $350,000-1 million",39119,39119,39119,38960,36866,39119,38921
"e $150,000-350,000",72399,72399,72399,72207,68411,72399,71727

In [31]:
# Total Fund Loaned

total_under_150_loaned = un150["LoanAmount"].sum()
cat_a = np.mean([10000000, 5000000]) * 985
cat_b = np.mean([5000000, 2000000]) * 5034
cat_c = np.mean([2000000, 1000000]) * 10839
cat_d = np.mean([350000, 1000000]) * 39119
cat_e = np.mean([150000, 350000]) * 72399

total_amount = total_under_150_loaned + cat_a + cat_b + cat_c + cat_d + cat_e
print(f"{total_amount:,}")

112,549,037,031.92502

In [32]:
# Total Funds / Population
total_amount/pop

340.9970132403078

In [37]:
# Total Number of Jobs Expected to Be Saved by PPP Loans (Based on PPP Loan Applications)

jobs_reported = df["JobsReported"].sum()
jobs_reported

10152412.0

In [38]:
# Total Number of Jobs Expected to be Saved / Total Population

jobs_reported/pop

0.030759411723825455